<?xml version="1.0" encoding="UTF-8"?>
<settings>

<threadsCount>10</threadsCount>
<inputFile>sample.data</inputFile>
<storage> 
	<host>localhost</host>
	<port>27017</port>
	<dbName>demo</dbName>
	<collectionName>links</collectionName>
</storage>
 
 <metaData>
 	<rawHtml>false</rawHtml>
 	<hostIp>true</hostIp>
 	<headers>false</headers>
 	<statusCode>true</statusCode>
 </metaData>


<rules active="true">
 <rule key="title" dataType="string" selector="title"></rule>
 <rule key="links" dataType="array" selector="a[href^=http]" attrSelector="href"></rule>
</rules>

</settings>